@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Pacifico&display=swap");

* {
  margin: 0;
  padding: 0;
}

/* Top Section Styling */

.top-section {
  text-align: center;
  margin: 10px auto auto auto;
}

.top-section img {
  border-radius: 100px;
}

.myName {
  font-family: "Pacifico", cursive;
  font-weight: 300;
  font-size: 50px;
  margin: 0 0 10px 0;
  color: #769fcd;
}

.top-section p {
  font-family: "Dancing Script", cursive;
  font-size: 25px;
  font-weight: 700;
}

hr {
  border: 10px dotted;
  border-bottom: 0;
  width: 70px;
  display: inline-block;
  margin: 50px auto;
  color: #7d7d7e;
}

/* Middle Section */

.middle-section {
  text-align: center;
}

.middle-title {
  font-family: "Pacifico", cursive;
  font-weight: 200;
}

.hobbies-title,
.about-me-title {
  font-family: "Dancing Script", cursive;
  font-size: 25px;
  margin-top: 20px;
  color: #557b83;
  font-weight: 700;
}

.hobbies-flex-div {
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 150px;
}

.hobbies-flex-div p {
  font-family: "Dancing Script", cursive;
  font-size: 20px;
}


.about-div img{
  margin-left: 0;
  order: 2;
}

@media (max-width: 768px) {

  .hobbies-flex-div {
    display: inline-block;
    margin: 5px 0;
    text-align: center;
  }

}
